name: Maven Build & Docker Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package -DskipTests

    - name: Build Docker Image
      run: docker build -t hostelapp:latest .

    - name: Stop Previous Container (if running)
      run: |
        if [ "$(docker ps -q -f name=hostelapp)" ]; then
          docker stop hostelapp
          docker rm hostelapp
        fi

    - name: Run Docker Container
      run: |
        docker run -d \
          --name hostelapp \
          -p 8888:8080 \
          hostelapp:latest
